<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-offset-2">
      <h2>Ep. {{model.id}} - {{model.title}}</h2>
      <span class="release-date">{{model.releaseDate}}</span>
      <br>
      <br>
      {{#if model.image}}
        <img src="/episode-images/{{model.image}}" class="episode-image" alt="Career.js">
      {{else}}
        <img src="/careerjs.jpg" class="episode-image" alt="Career.js">
      {{/if}}
    </div>
    <div class="col-md-5">
      <p>{{model.description}}</p>
      <iframe frameborder="0" height="36px" scrolling="no" src={{model.iframeURL}} width="100%"></iframe>
      <br><br>
      <h5>Show Notes</h5>
      {{#if model.showNotes.markdown}}
        {{markdown-to-html model.showNotes.markdown}}
      {{else}}
        <p>Not available.</p>
      {{/if}}
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
